#login-form {
    display: flex;
    width: 90%;
    max-width: 440px;
    height: 90%;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 14vh;
}

.text-field {
    text-decoration: none;
    color: black;
    /* margin: 1vw; */
    margin-top: 2vh;
    width: 100%;
    max-width: 90%;
    height: 2vh;
    background-color: #e9e8f3;
    border-radius: 2px;
    border-style: solid;
    border-color: #4844bf;
    box-shadow: 4px 4px 10px rgba(114, 115, 119, 0.14);
    padding-left: 1vw;
    padding: 0.5vw;
}

.sign-in-button {
    color: white;
    margin: 2vh auto;
    width: 7vw;
    min-width: 150px;
    height: 5vh;
    background-color: rgb(72, 68, 191);
    border-radius: 6px;
    border-style: solid;
    border-color: #f1f1f1;
    box-shadow: 4px 4px 10px rgba(114, 115, 119, 0.14);
}

.sign-in-button:hover {
    background-color: rgb(50, 46, 145);
    cursor: pointer;
}


.login-container {
    display: flex;
    flex-direction: column;
}

.post-container {
    display: flex;
    margin: 0 auto;
}

#error-message {
    color: red;
}