#login-form {
    display: flex;
    width: 90%;
    max-width: 440px;
    height: 60%;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 14vh;
}

.text-field {
    text-decoration: none;
    color: black;
    margin: 1vw;
    margin-top: 2vh;
    width: 90%;
    height: 2vh;
    background-color: #e9e8f3;
    border-radius: 2px;
    border-style: solid;
    border-color: #4844bf;
    box-shadow: 4px 4px 10px rgba(114, 115, 119, 0.14);
    padding-left: 1vw;
    padding: 0.5vw;
}

.sign-in-button {
    color: white;
    margin: 2vh auto;
    width: 7vw;
    min-width: 150px;
    height: 5vh;
    background-color: #4844bf;
    border-radius: 6px;
    box-shadow: 4px 4px 10px #72737724;
}

.sign-in-button:hover {
    background-color: #322e91;
    cursor: pointer;
}

#wrapper {
    display: grid;
    margin: 0 auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.post-container {
    display: flex;
    margin: 0 auto;
}

.create-account {
    display: flex;
    margin: 0 auto;
}

#error-message {
    color: red;
    text-align: center;
    justify-content: center;
}