.container {
    display: flex;
    margin: 0 auto;
    margin-top: 1vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    height: 70vh;
}

#conversation-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(70% - 10px);
}

#contacts {
    background-color: white;
    width: 30%;
    border-radius: 6px;
    /* overflow-y: scroll;
    flex-grow: 1;*/
    max-height: 100%; 
}

.sending-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

#message-box {
    width: 80%;
    border: none;
    resize: none;
    overflow-y: scroll;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 6px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

#send-message {
    color: white;
    background-color: #4844bf;
    box-shadow: 4px 4px 10px rgba(114, 115, 119, 0.14);
    border-color: #f1f1f1;
    border-radius: 6px;
    border-style: solid;
    height: 33px;
    margin-left: 1vw;

    flex: 1;

    &:hover {
        background-color: rgb(50, 46, 145);
        cursor: pointer;
    }
}

#conversation {
    background-color: white;
    max-height: calc(100% - 33px);
    border-radius: 6px;
    flex-grow: 1;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    margin: 0 auto 1vh;
}

.message {
    max-width: 50%;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    padding: 6px;
    height: auto;
}

.respond {
    background-color: #b4b4bc;
    margin-left: 10px;
}

.answer {
    background-color: #2294fb;
    align-self: flex-end;
    margin-right: 10px;
}

#contact-header {
    height: 10%;
    margin: 0;
}

#contact-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    flex-grow: 1;
    max-height: calc(100% - 10%);
}

.contact-person {
    height: 50px;
    border: 1px solid blueviolet;

    &:hover {
        cursor: pointer;
    }
}