#conversation-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 90%;
    width: 100%;
    max-width: 900px;
}

.sending-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

#message-box {
    width: 80%;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 6px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

#send-message {
    color: white;
    background-color: rgb(72, 68, 191);
    box-shadow: 4px 4px 10px rgba(114, 115, 119, 0.14);
    border-color: #f1f1f1;
    border-radius: 6px;
    border-style: solid;
    height: 33px;
    margin-left: 1vw;

    flex: 1;

    &:hover {
        background-color: rgb(50, 46, 145);
        cursor: pointer;
    }
}

#conversation {
    background-color: white;
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    margin: 0 auto 1vh;
}

.message {
    max-width: 50%;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    padding: 6px;
    height: auto;
}

.respond {
    background-color: #b4b4bc;
    margin-left: 10px;
}

.answer {
    background-color: #2294fb;
    align-self: flex-end;
    margin-right: 10px;
}