.nav-wrapper {
  background-color: #4844bf;
  margin: 0;
  padding: 0;
  height: calc(48px + 0.5vh);
}

.navbar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-block-start: 0;
}

.navbar-option {
  margin: 0;
  float: left;
  border-right: 2vw solid #bbbbbb00;
}

.navbar-option:last-child {
  border-right: none;
}

.navbar-option a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 0.5vh solid #4844bf;

  &:hover:not(.active) {
    background-color: #322e91;
    border-bottom: 0.5vh solid #ffffff;
    transition: all 0.6s ease;
  }
}


.active {
  background-color: #5b61cf;
}

#logo-id {
  background-color: #4844bf;
  font-weight: bold;
  border: none;
  
}

/*https://codepen.io/maheshambure21/pen/QwXaRw*/

#sign-out-button {
  float:right;  
  margin-right: 4vw;
}