body {
    margin: 0;
    background-image: linear-gradient(rgb(137, 143, 207), rgb(223, 203, 189) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    /* Change font if you want */
}

.box-shadow {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.logo-div {
    text-shadow: 1px 1px 0px #2424242a;
    font-size: 10vh;
    text-align: center;
    padding-bottom: 4vh;
    color: #f1f1f1;
}

.login-div {
    background-color: white;
    padding: 2vw;
    width: 50vh;
    height: 18vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border-color: #f1f1f1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    justify-content: center;
}

.to-sign-in-button {
    color: white;
    margin: 2vh auto;
    width: 8vw;
    min-width: 150px;
    height: 5.5vh;
    background-color: #4844bf;
    border-radius: 6px;
    box-shadow: 4px 4px 10px #72737724;
}

.to-sign-in-button:hover {
    background-color: #322e91;
    cursor: pointer;
}

.search-div {
    background-color: white;
}

/* Beautiful scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(99, 104, 117);
    border-radius: 15px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(165, 165, 165);
}