<div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/" id="logo-id">Logo</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/sign-in">Sign in</a></li>
        <li><a href="/views/dashboard">View chat</a></li>
    </ul>
</div>