<link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
<div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down">
        <li class="navbar-option"><a href="/" id="logo-id">Logo</a></li>
        <li class="navbar-option"><a href="/">Home</a></li>
        <li class="navbar-option"><a href="/sign-in">Sign in</a></li>
        <li class="navbar-option"><a href="/views/dashboard">View chat</a></li>
    </ul>
</div>