<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/messaging.css">
    <link rel="stylesheet" type="text/css" href="/public/font-awesome/css/font-awesome.min.css">
    <title>Dashboard</title>
</head>

<body>
    <%- include('../public/ejs/navbar') %>
    <div id="ad" ><!-- Remove me to make CSS good again :)-->
        <div id="closeAd" onclick="closeAd()">X</div><!-- Remove me to make CSS good again :)-->
    </div> <!-- Remove me to make CSS good again :)-->

    <script>
        function closeAd() {
          var x = document.getElementById("ad");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>

    <div id="topp-bar">
        <h1 id="welcome-text-id"><%= username %>!</h1>
        <script>
            const time = new Date()
            const hours = time.getHours()
            const day = time.getDay()
            const dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
            var msg =""
            if(hours > 4 && hours <= 5){msg="Go to bed "}
            if(hours > 5 && hours <= 9){msg="Good morning "}
            if(hours > 9 && hours <= 12){msg="Good day "}
            else if(hours > 12 && hours <= 17){msg="Good afternoon "}
            else if(hours > 17 && hours <= 21){msg="Good evening "}
            else if(hours > 21 || hours <= 4){msg="Happy " + dayNames[day] + " "}
            document.getElementById("welcome-text-id").innerHTML = msg + document.getElementById("welcome-text-id").innerHTML;
        </script>
        <a id="sign-out-button" href="/logout">Sign out</a>
    </div>
        <div class="container">
            <div id="contacts" class="column">
                <h2 id="contact-header">Contacts</h2>
                <ul class="contact-list">
                    <li class="contact-person">Wille</li>
                    <li class="contact-person">Pier</li>
                </ul>
            </div>
            <div id="conversation-container" class="column">
                <div id="conversation">
                    <div class="message respond">
                        Hello!
                    </div>
                    <div class="message answer">
                        Hi :)
                    </div>
                    <div class="message answer">
                        What's up, this is a longer message to test how the styling works for long messages
                    </div>
                    <div class="message respond">
                        Hello again! This will also be a longer message to test the respond with a longer text
                    </div>
                    <div class="message respond">
                        Hello!
                    </div>
                    <div class="message respond">
                        Hello!
                    </div>
                    <div class="message respond">
                        Hello!
                    </div>
                    <div class="message respond">
                        Hello!
                    </div>
                    <div class="message respond">
                        Hello!
                    </div>
                </div>
                <form id="message-form">
                    <div class="sending-options">
                        <textarea id="message-box" rows="1"></textarea>
                        <button id="send-message"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const username = '<%= username %>'
        </script>
        <script type="text/javascript" src="/public/socket.io/client-dist/socket.io.js"></script>
        <script type="text/javascript" src="/public/js/conversation.js"></script>

</body>

</html>