<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/messaging.css">
    <link rel="stylesheet" type="text/css" href="/public/font-awesome/css/font-awesome.min.css">
    <title>Dashboard</title>
</head>

<body>
    <%- include('../public/ejs/navbar') %>
        <!-- <div id="ad">
            <div id="closeAd" onclick="closeAd()">X</div>
        </div> -->

        <div id="topp-bar">
            <h1 id="welcome-text-id">
                <%= username %>!
            </h1>
            <a id="sign-out-button" href="/logout">Sign out</a>
        </div>
        <div class="container">
            <div id="contacts" class="column">
                <h2 id="contact-header">Contacts</h2>
                <ul id="contact-list">
                    <% for (const contact of contacts) { %>
                        <li class="contact-person">
                            <%= contact %>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div id="conversation-container" class="column">
                <div id="conversation">
                </div>
                <form id="message-form">
                    <div class="sending-options">
                        <textarea id="message-box" rows="1"></textarea>
                        <button id="send-message"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const username = '<%= username %>'
        </script>
        <script type="text/javascript" src="/public/js/displayAdons.js"></script>
        <script type="text/javascript" src="/public/socket.io/client-dist/socket.io.js"></script>
        <script type="text/javascript" src="/public/js/conversation.js"></script>

</body>

</html>