<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="box-shadow" id="login-form">
        <form action="/login" method="post" class="post-container">
            <div class="login-container">
                <input type="text" name="username" placeholder="Username" class="text-field " />
                <input type="password" name="password" placeholder="Password" class="text-field " />
                <% if (error==204) { %>
                    <p id="error-message">User does not exist, try again.</p>
                    <% } else if (error==403) { %>
                        <p id="error-message">Password incorrect, try again.</p>
                        <% } %>
                            <button type="submit" class="sign-in-button ">Log In</button>
            </div>
        </form>
    </div>
</body>

</html>