<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Login</title>
</head>

<body>
    <%- include('public/ejs/navbar') %>

        <div class=logo-div>
            THE SÖRVER
        </div>
        <div class="login-div">
            <a href="/sign-in" class="to-sign-in-button">Sign in</a>
            <p>Click the button above to sign in and start chatting.</p>
        </div>
</body>

</html>